:root {
  /*===colors===*/
  --color-primary: #0A1128;
  --color-white: #FFF;
  --color-light-gray: #EEE;
  --secondary-color: #dc143c;
  --color-placeholder: #b6b6b6;

  /*===measures===*/
  --gap: 3rem;
}

/*===Global===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-primary);
  font-size: 2rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
} 

h2 {
  font-size: 5.5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
} 

h3 {
  font-size: 5rem;
} 

h4 {
  font-size: 4.5rem;
} 

h5 {
  font-size: 4rem;
} 

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 3rem;
}

table {
  min-width: 36rem;
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border: 0.1rem solid var(--color-light-gray);
}

tfoot td, table th {
  background: var(--color-light-gray);
}

table caption {
  font-size: 1.6rem;
  text-align: left;
  font-style: italic;
  margin-bottom: 1rem;
}

/*===Background===*/
.main-bg {
  background-image: url('../img/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: var(--color-white);
}

.white-bg {
  background: var(--color-white);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem var(--gap);
}

.section {
  min-height: 100vh;
}

/*===Menu===*/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  border-bottom: 0.1rem solid var(--color-light-gray);
}

.menu-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--color-primary);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--color-primary);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 25%;
  width: 0%;
  height: 0.2rem;
  background: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
}

.menu-spacing {
  height: 6.5rem;
}

/*===Home - Section===*/
.home-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.home-text-content, .home-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home-text-content h2 {
  font-size: 6rem;
}

.home-img img {
  width: 100%;
  height: auto;
}

/*===Intro - Section===*/
.intro-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 80rem;
  min-height: 100vh;
  padding: 5rem 8rem;
  text-align: center;
}

/*===Top 3 - Section===*/
.top3-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section-header {
  margin-bottom: 8rem;
}

.section-header h2 {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  top: -4rem;
  left: -2rem;
  rotate: (5deg);
  font-style: italic;
}

/*===Gallery - Section===*/
.grid-iamge {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.grid-iamge img {
  transition: all 0.3s ease-in-out;
}

.grid-iamge img:hover {
  transform: rotate(5deg) translate(-3%, 3%) scale(1.2);
}

/*===Pricing - Section===*/
.responsive-table {
  overflow: hidden;
  overflow-x: auto;
}

/*===Contact Form - Section===*/
.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: var(--gap);
}

.form-group {
  flex: 1 1 40rem;
}

.form-group label{
  display: block;
  margin-bottom: 1rems;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1.5rem 2rem;
  border: none;
  font-size: 3rem;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

.form-group button {
  border: 0.5rem solid var(--color-white);
  background: none;
  color: var(--color-white);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-group button:hover {
  border: 0.5rem solid var(--color-primary);
  background: var(--color-white);
  color: var(--color-primary);
}

.form-group ::placeholder {
  color: var(--color-placeholder);
}

/*===Footer===*/
.footer {
  text-align: center;
  font-size: 1.6rem;
}

.footer p {
  color: var(--color-placeholder);
  margin: 0;
  padding: var(--gap);
}

.heart {
  color: var(--secondary-color);
}